
body{font-family: Arial, sans-serif;}
.rouge {color:red;}
.bleu{color: blue}
.italique{font-style: italic}
.gras{font-weight: bold}
.centr\0000E9{display: table-row;color: red;align-items: center;margin: auto;/* padding: initial; */}
